﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="SV.aspx.cs" Inherits="QLMH.SV" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl="~/QLMH.aspx">Danh Sách Sinh Viên</asp:HyperLink>
            <br />
            <asp:HyperLink ID="HyperLink2" runat="server" NavigateUrl="~/Diem.aspx">Bảng Điểm Sinh Viên</asp:HyperLink>
            <br />
            <asp:HyperLink ID="HyperLink3" runat="server" NavigateUrl="~/QLBH.aspx">Quản Lý Bán Hàng</asp:HyperLink>
        </div>
    </form>
</body>
</html>
