﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="AddKH.aspx.cs" Inherits="WebApplication3.AddKH" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .auto-style1 {
            width: 100%;
        }
        .auto-style2 {
            width: 451px;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <table class="auto-style1">
                <tr>
                    <td class="auto-style2">them khach hang</td>
                    <td>Them mat hang</td>
                </tr>
                <tr>
                    <td class="auto-style2">ma khach hang<asp:TextBox ID="txtMaKH" runat="server"></asp:TextBox>
                    </td>
                    <td>Ma Mat hang:&nbsp;
                        <asp:TextBox ID="txtMaMH" runat="server"></asp:TextBox>
                    </td>
                </tr>
                <tr>
                    <td class="auto-style2">Ten khach hang: <asp:TextBox ID="txtTenKH" runat="server"></asp:TextBox>
                    </td>
                    <td>Ten Mat Hang:
                        <asp:TextBox ID="txtTenMH" runat="server"></asp:TextBox>
                    </td>
                </tr>
                <tr>
                    <td class="auto-style2">
                        <asp:Button ID="btnThemKH" runat="server" OnClick="btnThemKH_Click" Text="Them Khach Hang" />
                    </td>
                    <td>
                        <asp:Button ID="btnThemMH" runat="server" OnClick="btnThemMH_Click" Text="Them mat Hang" />
                    </td>
                </tr>
                <tr>
                    <td class="auto-style2">&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="auto-style2">&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="auto-style2">&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </div>
    </form>
</body>
</html>
