﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="AddStudent.aspx.cs" Inherits="WebApplication3.AddStudent" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .auto-style1 {
            width: 100%;
        }
        .auto-style2 {
            width: 458px;
        }
        .auto-style3 {
            width: 458px;
            height: 23px;
        }
        .auto-style4 {
            height: 23px;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <table class="auto-style1">
                <tr>
                    <td class="auto-style2">&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="auto-style2">them lop</td>
                    <td>them sinh vien</td>
                </tr>
                <tr>
                    <td class="auto-style2">lop :
                        <asp:TextBox ID="txtlop" runat="server"></asp:TextBox>
                    </td>
                    <td>ma sv<asp:TextBox ID="txtMasv" runat="server"></asp:TextBox>
                    </td>
                </tr>
                <tr>
                    <td class="auto-style2">
                        <asp:Button ID="btnThemLop" runat="server" OnClick="btnThemLop_Click" Text="Them" />
                    </td>
                    <td>ho ten<asp:TextBox ID="txtHoten" runat="server"></asp:TextBox>
                    </td>
                </tr>
                <tr>
                    <td class="auto-style2">&nbsp;</td>
                    <td>gioi tinh<asp:TextBox ID="txtGioitinh" runat="server"></asp:TextBox>
                    </td>
                </tr>
                <tr>
                    <td class="auto-style2">&nbsp;</td>
                    <td>diem tb<asp:TextBox ID="txtDtb" runat="server"></asp:TextBox>
                    </td>
                </tr>
                <tr>
                    <td class="auto-style3"></td>
                    <td class="auto-style4">chon lop :<asp:DropDownList ID="cboMalop" runat="server">
                        </asp:DropDownList>
                        <asp:Button ID="btnThemSV" runat="server" OnClick="btnThemSV_Click" Text="them" />
                    </td>
                </tr>
            </table>
        </div>
    </form>
</body>
</html>
